<section id="about" class="about">
    //= header.html
    <div class="layout">
        <div class="about-wrapper">
            <div class="about-wrapper-column">
                <img class="about-wrapper-photo" src="/img/about/photo.jpg" alt="">
            </div>
            <div class="about-wrapper-column">
                <div class="about-wrapper-text">
                    <h2 class="about-wrapper-text-title">
                        About me
                    </h2>
                    <p class="about-wrapper-text-description">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. A alias debitis, dolore, error et excepturi illo illum itaque libero nemo, perferendis quae ratione repellendus rerum similique totam voluptate? Eligendi, error.
                    </p>
                    <p class="about-wrapper-text-description">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. At eaque hic labore non perferendis quo exercitationem.
                    </p>
                    <p class="about-wrapper-text-author">
                        Jason Wood
                    </p>
                </div>
            </div>
        </div>
        <div class="about-scroll">
            <p class="about-scroll-label">
                Keep scrolling, there is still more to come.
            </p>
            <div class="about-scroll-arrow"></div>
        </div>
    </div>
</section>