<header class="header">
    <div class="layout">
        <nav class="navigation">
            <button class="navigation-button">
                <span>∞</span> Menu
            </button>
            <ul class="navigation-list">
                <li class="navigation-list-item">
                    <a class="navigation-list-item-link" href="#banner">
                        Home
                    </a>
                </li>
                <li class="navigation-list-item">
                    <a class="navigation-list-item-link" href="#about">
                        About me
                    </a>
                </li>
                <li class="navigation-list-item">
                    <a class="navigation-list-item-link" href="#">
                        Portfolio
                    </a>
                </li>
                <li class="navigation-list-item">
                    <a class="navigation-list-item-link" href="#">
                        Contact
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</header>